@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

:root{
  background-color: black;
  color: white;
}

.App{
  margin: 15% auto auto;
  text-align: center;
  height: max-content;
}

h1{
  font-size: 4rem;
  margin: 10px auto 50px;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.header-section form{
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-width: 350px;
  margin: auto;
  padding: 10px;
}

.input-section span{
  margin: auto 50px;
}

.input-section input{
  width: 100px;
  min-width: 60px;
  height: 1.5rem;
  border: none;
  padding: 2px;
}

.input-section input:focus{
  /* border: none; */
  outline: none;
  border-bottom: 3px solid white;
  /* box-shadow: 0px 1px 2px 2px white; */
}

.input-section input{
  background-color: black;
  border-bottom: 1px solid white;
  color: antiquewhite;
  margin: 2px 8px;
  width: 2rem;
}
.input-section input[type='date']{
  width: 5rem;
}

button[type='submit']{
  width: 10%;
  min-width: 50px;
  height: 2rem;
  margin: 25px auto auto;
  font-weight: 700;
  color: rgb(255, 255, 255);
  /* padding: 5px; */
  background-color: rgb(28, 107, 255);
  border: 1px solid rgb(17, 43, 90);
  border-radius: 4px;
}
button:hover{
  background-color: rgb(0, 60, 170);
  /* box-shadow: 0px -1px 2px 2px rgb(71, 136, 255); */
}

button:focus{
  background-color: rgb(0, 60, 170);
  /* outline: rgb(79, 140, 255) solid 2px; */
  box-shadow: 0.5px 0.25px 4px 3px rgb(71, 136, 255);
  /* height: 1.8rem; */
}

/* .calendar-container{
  border: 1px solid black;
  height: 100vh;
  max-width: 40%;
  margin: 20px auto;
  /* display: grid; */
  /* grid-template-columns: repeat(5,6px);
  grid-template-rows: repeat(20,6px); */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
} */

.child{
  background-color: red;
  height: 5px;
  width: 5px;
}


/*Responsive Design*/

@media screen and (max-width:550px){
  .header-section form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 70%;
    min-width: 350px;
    margin: auto;
    padding: 10px;
  }

  .input-section{
    display: grid;
    grid-template-columns: 1fr 1fr 0px;
  }
/* 
  .input-section span{
    margin: auto 0%;
  } */

  .input-section input{
    width: 50%;
    height: 2rem;
    min-width: 60px;
    margin: 0.5rem 10% 0.5rem 0px;
  }
  .input-section label{
    display: inline-block;
    margin: 0.5rem 0px 0.5rem 60%;
    width: 20%;
    min-width: 60px;
    padding-top: 4px;
  }

  
button[type='submit']{
  width: 40%;
  height: 2rem;
  min-width: 50px;
  margin: 25px auto auto;
}

}